<h1>Detalhes do Pedido</h1>
<% @order.order_items.each do |o| %>
<%= o.product.title %>
<p>Quantidade: <%= o.quantyty %> </p>
<p>Valor: <%= o.item_value %> </p>
<% end %>

<%= form_for @order, url: order_path do |o|  %>
  <%= hidden_field(:order, :status, value:"finished") %>
  <div>
    <button type="submit" class="btn btn-primary">Finalizar</button>
  </div>
<% end %>


