<section>
  <div class="row">
    <div class="col-md-3" >
       <% unless product.product_img.nil? %>
         <%= image_tag product.product_img.url(:medium), class: "img-responsive img-circle" %>
       <% end %>
    </div>
    <div class="=col-md-6">   
        <h2><%= link_to product.title, product %><h2>
        <p><%= product.price %></p>
        <p><%= product.description %></p>
        <p><%= product.product_category.name %></p>
    </div>
  </div>
</section> 