<% unless product.product_img.nil? %>
   <%= image_tag product.product_img.url(:medium) %></div>
<% end %>
<h2><%= product.title %><h2>
<p><%= product.price %></p>
<p><%= product.description %></p>
<p><%= product.product_category.name  %></p>
