<%= form_for [@product] do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(@product.errors.count, "error") %> *Os campos são obrigatórios!</h2>
    <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <div class="field">
    <label>Título:</label>
    <%= f.text_field :title, class:"form-control"%>
  </div>

    <div class="field">
    <label>Preço:</label>
    <%= f.text_field :price, class:"form-control"%>
  </div>

    <div class="field">
    <label>Descrição:</label>
    <%= f.text_area :description, class:"form-control"%>
  </div>

  <%= f.file_field :product_img %>
  
  <p>
    <button type="submit">Salvar</button>
  </p>
<% end %>