<h1>Novo Produto</h1>
<%= form_for [@product] do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(@product.errors.count, "error") %> *Os campos são obrigatórios!</h2>
    <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <div class="field">
    <%= f.label :title, "Título:" %>
    <%= f.text_field :title, class:"form-control"%>
  </div>

    <div class="field">
    <%= f.label :price, "Preço:" %>
    <%= f.text_field :price , class:"form-control"%>
  </div>

    <div class="field">
    <%= f.label :description, "Descrição:" %>
    <%= f.text_area :description, class:"form-control"%>
  </div>

  <%= f.file_field :product_img %>
  <div class="field">
    <%= f.label :product_category_id, "Categoria" %>
    <%= f.collection_select :product_category_id, ProductCategory.all, :id, :name  %>
  </div>
  <p>
    <%= f.submit "Salvar" %>
  </p>
<% end %>
