<!DOCTYPE html>
<html>
<head>
  <title>PedidosOnline</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="menu" class="navbar navbar-default navbar-static-top">

<% if company_admin_signed_in? %>
  <div>Ol치: <%= current_company_admin.email %> || <%= link_to "Sair", destroy_company_admin_session_path, method: :delete %>
   | <%= link_to 'P치gina inicial', root_path %> | <%= link_to 'Minha Empresa', current_company_admin.company %> | <%= link_to 'Cadastrar Produto', new_product_path %></div>
<% else %>
  <div> <%= link_to "Entrar Como Empresa", company_admin_session_path %> | <%= link_to 'P치gina inicial', root_path %> | <%= link_to 'Cadatre-se',  new_company_admin_registration_path %></div>     
<% end %>

<% if user_signed_in? %>
Ol치 <%= current_user.email %>
<% else %>
  <%= link_to "Entrar", new_user_session_path  %>
<% end %>

</div>

<div class="container-fluid banner">
  <img class="responsive" src="http://img-asia.electrocomponents.com/apac/img/site/campaigns/helphub/screenshots/graphics/Online_Ordering.gif">
</div>


<div class="container">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>



